<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Prep work:</strong>
  <%= @challenge.prep_work %>
</p>

<p>
  <strong>Order:</strong>
  <%= @challenge.order %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
